name: Release
run-name: Release ${{ github.event.inputs.version }} version

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: Version
        options:
          - patch
          - minor
          - major

jobs:
  version:
    permissions:
      contents: write
    uses: crowdin/.github/.github/workflows/bump-version.yml@main

  publish:
    runs-on: ubuntu-latest
    needs: version
    permissions:
      contents: write
    steps:
      - uses: peter-evans/repository-dispatch@v2
        with:
          event-type: publish
